{:tasks
 {:requires ([clojure.string :as str]
             [babashka.process :refer [sh]])
  clj-kondo {:doc  "Configures clj-kondo linter"
             :task (shell
                    (str "clj-kondo "
                         "--lint "
                         (-> (sh "clojure -A:test -Spath") :out str/trim)
                         " --dependencies "
                         "--parallel "
                         "--copy-configs "
                         "--debug"))}
  test      {:doc  "Runs tests"
             :task (clojure "-X:test")}}}
