name: Tests

on: [push]

jobs:
  test:
    strategy:
      matrix:
        # Tests emitting XML fail on Windows because of '\r\n' line endings
        # os: [ubuntu-latest, macOS-latest, windows-latest]
        os: [ubuntu-latest, macOS-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2

      - name: Prepare java
        uses: actions/setup-java@v5.2.0
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Install clojure tools-deps
        uses: DeLaGuardo/setup-clojure@13.5.2
        with:
          cli: 1.11.2.1446

      - name: Execute tests on Linux and MacOS
        if: ${{ matrix.os != 'windows-latest' }}
        run: clojure -M:test --report stderr -m cognitect.test-runner
        shell: bash

      - name: Execute tests on Windows
        if: ${{ matrix.os == 'windows-latest' }}
        run: clojure -M:test --report stderr -m cognitect.test-runner
        shell: powershell

